<nav class="uk-navbar-container" style="box-shadow: 0px 0.5px 0.1px 0.1px rgba(0,0,0,0.6);">
    <div class="uk-navbar-left" >

        <ul class="uk-navbar-nav" >
            <li class="uk-active"><a href="/"><span uk-icon="home"></span>　Home</a></li>
            <li>
                <a href="/"><span uk-icon="link">  My Acount</a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li class="uk-active">Acount Name</li>
                        <li><a href="https://qiita.com/kentaro123">Qita</a></li>
                        <li><a href="https://www.kaggle.com/kentaro123">Kaggle</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#gallery">Gallery</a></li>
        </ul>

    </div>
</nav>
