<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
  <% include ../partials/nav.ejs %>
<div class="uk-text container">
  <div class="uk-width-1-1 row">
    <div class="col-xs-12 col-10">
      <article class="uk-article" style="margin-top:30px" >

          <h1 class="uk-article-title"><a class="uk-link-reset" href="">卒論発表終了</a></h1>

          <p class="uk-article-meta">Written by kentaro on 2 May 2020. Posted in Blog</p>

          <p class="uk-text-lead">ワンピースの悪魔の実検索システムを作成しました．検索システムに使用している
          Neo4jというグラフデータベースをオンラインで使用するとお金がかかってしまうため，git上でコードを公開しました．
          Webアプリケーションとしてデプロイできないのが残念です．また，他にもなにか思いついたら便利なアプリケーションを
          開発してみたいです．</p>
          <dd><a class="uk-link-text" href="https://github.com/kentaro123/search_onepiece">掲載ページへ</a></dd>



          <div class="uk-grid-small uk-child-width-auto" uk-grid>
              <div>
                  <a class="uk-button uk-button-text text-center" href="/">Rturn</a>
              </div>
          </div>

      </article>

    </div>
</div>
</div>
</body>
</html>
