<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
  <% include ../partials/nav.ejs %>
<div class="uk-text container">
  <div class="uk-width-1-1 row">
    <div class="col-xs-12 col-10">
      <article class="uk-article" style="margin-top:30px" >

          <h1 class="uk-article-title"><a class="uk-link-reset" href="">LeetCodeを開始</a></h1>

          <p class="uk-article-meta">Written by kentaro on 5 May 2020. Posted in Blog</p>

          <p class="uk-text-lead">自分の勉強のため，LeetCodeをはじめました．競技プログラミングは今までやったことがなかったので
          基礎的なところから勉強を始めようと思います．使用する言語は主にc++を使用し，pythonのほうが簡単そうだったらpythonを用いて
        行っています．解いて行き次第，コードをgitにあげていこうと思います．頑張っていきます．</p>
          <dd><a class="uk-link-text" href="https://github.com/kentaro123/leetcode_learning">掲載ページへ</a></dd>



          <div class="uk-grid-small uk-child-width-auto" uk-grid>
              <div>
                  <a class="uk-button uk-button-text text-center" href="/">Return</a>
              </div>
          </div>

      </article>

    </div>
</div>
</div>
</body>
</html>
