<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
  <% include ../partials/nav.ejs %>
<div class="uk-text container">
  <div class="uk-width-1-1 row">
    <div class="col-xs-12 col-10">
      <article class="uk-article" style="margin-top:30px" >

          <h1 class="uk-article-title"><a class="uk-link-reset" href="">ワンピース悪魔の実検索システム，デプロイの試み</a></h1>

          <p class="uk-article-meta">Written by kentaro on 18 May 2020. Posted in Blog</p>

          <p class="uk-text-lead">先日作成したワンピース悪魔の実検索システムをherokuにデプロイしようと試みました．
          しかし，使用しているデータベースNeo4jをローカルでないところでの使用ができなかったため，達成できませんでした．
        検索画面やナレッジグラフの写真やheroku用にもともコードを編集した新しいコードをgitのリポジトリにアップしました．
      Neo4jを使用しない方法など考えてどうにかデプロイできるように努めたいと思います．</p>
          <dd><a class="uk-link-text" href="https://github.com/kentaro123/search_onepiece">gitへ</a></dd>



          <div class="uk-grid-small uk-child-width-auto" uk-grid>
              <div>
                  <a class="uk-button uk-button-text text-center" href="/">Return</a>
              </div>
          </div>

      </article>

    </div>
</div>
</div>
</body>
</html>
