.jumbotron {
  background: url('../../../../NYC.jpg');
  background-size:  cover;
  background-position: center 30%;
  color: #000000;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: #845ac7;
    border-color: #845ac7;
    margin: 120px 10px 20px;
   }
   .jum
    .jumbotron .btn-primary:hover {
      background: #7646c1; }
  .jumbotron p {
    color: #000000;
    font-size: 3rem;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }

.jumbotron .btn-default{
  margin: 120px 10px 20px;
}

.container-fluid{
  margin-bottom: 100px
}
