.jumbotron {
  background: url('../../../../images/NYC.JPG');
  background-size:  cover;
  background-position: center 30%;
  color: #000000;
  padding-bottom: 300px;
  margin: 0;
 }
  .jumbotron .uk-button-primary {
    background: #EEF9FF;
    border-color: #EEF9FF;
    color: #000000;
    margin: 40px 20px 20px;
    border-radius: 10px;
   }
   .jumbotron .uk-button-default {
     background: #fff;
     border-color: #fff;
     color: #000000;
     margin: 40px 20px 20px;
     border-radius: 10px;
    }
    .jumbotron .uk-button-primary:hover {
      background: #AAD6EC; }
    .jumbotron .uk-button-default:hover {
        background: #AAD6EC; }
  .jumbotron p {
    color: #000000;
    font-size: 3rem;
    max-width: 75%;
    margin: 0 auto 0; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: #B01302;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid white; }
    .jumbotron .lang-logo img {
      max-width: 100%; }


.container-fluid{
  margin-bottom: 100px
}

.uk-navbar-nac{
  margin: 0;
  width: auto;
}
.uk-tile-primary{
  background-color: #EEF9FF;
}

.p.uk-h4{
  color: #000000;
}

.uk-section p{
  font-size: 20px;
}

.uk-description-list dt{
  font-size: 25px;
}


.uk-description-list dd{
  font-size: 20px;
}
.body{
  background-color: #000000
}
