<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  　<p>Engineer　Blog</p>
    <h1>KENTARO DIARY</h1>
    <a id="js-scroll-trigger" class="uk-button uk-button-default" href="#about" uk-scroll><span class="glyphicon glyphicon-user"></span>About Me</a>
    <a id="js-scroll-trigger" class="uk-button uk-button-primary" href="#news" uk-scroll><span class="glyphicon glyphicon-star-empty"></span>News</a>

  </div>

  <div class="alert alert-info text-center" role="alert" style="margin-top:20px;">
    只今準備中
  </div>
</div>
  <div class="uk-section uk-section-large uk-section-muted" id='about' style="background: #AAD6EC;">
    <div class="uk-container">

        <h2><span uk-icon="user"></span>  ABOUT ME </h2>

        <div class="uk-grid-match uk-child-width-auto@m" uk-grid>
            <div>
              <p>はじめまして． 現在大学で機械学習について学んでいます． 機械学習の中でも 主に時系列データの分類や自然言語処理について学んでいます．
        <br>日々学んだことや書き記したいことをまとめていきます．</p>
            </div>
        </div>
    </div>
  </div>



<div class="uk-section uk-section-large uk-section-default" id='news' style="background-color: #FFF">
  <div class="uk-container">
  <h2><span uk-icon="info"></span> NEWS</h2>
    <div style="height:300px;overflow:auto;background:#FFF">
        <dl class="uk-description-list uk-description-list-divider">
      <dt>News<br>2020年3月16日〜3月19日　</dt>
      <dd><a class="uk-link-text" href="/0316">沖縄旅行に行ってきました</a></dd>
      <dt>News<br>2020年2月20日　</dt>
      <dd><a class="uk-link-text" href="/0220">卒業論文発表会が終了しました</a></dd>
      <dt>News<br>2020年2月14日　</dt>
      <dd>Happy Valentine</dd>
      <dt>News<br>2020年2月12日　</dt>
      <dd><a class="uk-link-text" href="/0213">ブログを開設しました</a></dd>
      <dt>News<br>2020年2月10日　</dt>
      <dd>Webの勉強をはじめました</dd>
      <dt>Event<br>2020年1月1日　</dt>
      <dd>あけましておめでとうございます．<br>今年もよろしくおねがいします．</dd>
      <dt>Event<br>2019年12月25日</dt>
      <dd>メリークリスマス</dd>
      </dl>
    </div>
  </div> <!-- row -->
</div>

<div class="uk-section uk-section-large uk-section-default" id='about' style="background: #EEF9FF;">
  <div class="uk-container">
      <h2><span uk-icon="star"></span> 新学年まで</h2>
      <div class="uk-grid-small uk-child-width-auto uk-margin" uk-grid uk-countdown="date: 2020-04-03T09:00:00+00:00">
    <div>
        <div class="uk-countdown-number uk-countdown-days">日</div>
    </div>
    <div>
        <div class="uk-countdown-number uk-countdown-hours"></div>
    </div>
    <div>
        <div class="uk-countdown-number uk-countdown-minutes"></div>
    </div>
    <div>
        <div class="uk-countdown-number uk-countdown-seconds"></div>
    </div>
</div>
  </div>
</div>




  <div class="uk-tile uk-tile-primary uk-padding-small">
    <p class="uk-h4" style="color:#000000" id='gallery'>Gallery</p>
  </div>

  <div uk-slideshow="min-height: 300; max-height: 800;animation: fade; autoplay: true">

    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">

        <ul class="uk-slideshow-items">
            <li>
                <img src="../../images/tai.JPG" alt="" uk-cover>
                <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                <h3 class="uk-margin-remove">Tailand</h3>
                <p class="uk-margin-remove">Wat Pacunam</p>
            </div>
            </li>
            <li>
                <img src="../../images/baseball.jpg" alt="" uk-cover>
                <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                <h3 class="uk-margin-remove">New York</h3>
                <p class="uk-margin-remove">City Stadium</p>
            </div>
            </li>
            <li>
                <img src="../../images/irmi.JPG" alt="" uk-cover>
                <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                <h3 class="uk-margin-remove">Tokyo</h3>
                <p class="uk-margin-remove">Yomiuri Land</p>
            </div>
            </li>
            <li>
                <img src="../../images/Brooklyn.JPG" alt="" uk-cover>
                <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-transition-slide-bottom">
                <h3 class="uk-margin-remove">New York</h3>
                <p class="uk-margin-remove">Manhattan Bridge</p>
            </div>
            </li>

        </ul>

        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

    </div>

    <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin"></ul>

</div>
   <div class="alert alert-info text-center" role="alert">
    まだまだ準備中なのでのんびり頑張っていきます
    <a href="#" uk-totop uk-scroll style="width:auto">ページトップ</a>
  </div>



</body>
</html>
