<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="jumbotron text-center">
  　<p>Engineer　Blog</p>
    <h1>KENTARO DIARY</h1>
    <a type="button" class="btn btn-lg btn-default" href="#about"><span class="glyphicon glyphicon-user"></span> About Me</a>
    <a type="button" class="btn btn-lg btn-primary" href="#news"><span class="glyphicon glyphicon-star-empty"></span> News</a>
  </div>

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
<!-- スライドさせる画像の設定 -->
<div class="carousel-inner" role="listbox">
  <div class="item active">
    <img src="../../images/tai.JPG" alt="第1スライド"　width="10" height="20">
  </div><!-- /.item -->
  <div class="item">
    <img src="../../images/NYCver2.jpg" alt="第2スライド"　width="10" height="20">
  </div><!-- /.item -->
  <div class="item">
    <img src="../../images/irmi.JPG" alt="第3スライド"　width="10" height="20">
  </div><!-- /.item -->
</div><!-- /.carousel-inner -->
　
<!-- スライドコントロールの設定 -->
<a class="left carousel-control" href="#carouselExampleControls" role="button" data-slide="prev">
 <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
 <span class="sr-only">前へ</span>
</a>
<a class="right carousel-control" href="#carouselExampleControls" role="button" data-slide="next">
 <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
 <span class="sr-only">次へ</span>
</a>
</div><!-- /.carousel -->

<div class="container text-center">
  <div class="alert alert-info text-center" role="alert">
    只今準備中
  </div>
  <hr>
  <div class="container-fluid" id='about'>
      <h3><span class="glyphicon glyphicon-user"></span>  ABOUT ME </h3>
      <p>はじめまして． 現在大学で機械学習について学んでいます． 機械学習の中でも 主に時系列データの分類や自然言語処理について学んでいます．
<br>日々学んだことや書き記したいことをまとめていきます．</p>
    </div>

    <div class="container-fluid" id='about'>
      <h3><span class="glyphicon glyphicon-ok-circle"></span> MY SKILLS</h3>
      <p>只今調整中</p>
    </div>
    <div class="container-fluid">
      <h3><span class="glyphicon glyphicon-info-sign"></span> NEWS</h3>
      <div style="height:150px;overflow:auto;background:#fff">
        <h4 id="news1">News</h4>
        <p>2020年2月12日　ブログを開設しました</p>
        <h4 id="news2">News</h4>
        <p>2020年2月10日　Webの勉強をはじめました</p>
        <h4 id="news2">Event</h4>
        <p>2020年1月1日　あけましておめでとうございます．<br>今年もよろしくおねがいします．</p>
        <h4 id="news2">Event</h4>
        <p>2019年12月25日　メリークリスマス</p>
      </div>
    </div>
  </div> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
    まだまだ準備中なのでのんびり頑張っていきます
  </div>
</div>


</body>
</html>
